# ====================================
# Python
# ====================================
__pycache__/
*.py[cod]
*$py.class

# ====================================
# Environment
# ====================================
.env
venv/
.env.*
*.env

# ====================================
# Django
# ====================================
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py


# ====================================
# VSCode / IDE
# ====================================
.vscode/
.idea/
*.swp


# ====================================
# Byte-compiled / Cache
# ====================================
__pycache__/
*.py[cod]
*$py.class

# ====================================
# macOS / Windows
# ====================================
.DS_Store
Thumbs.db

# ====================================
# Docker
# ====================================
/docker-compose.override.yml
*.pid
*.seed
*.log
*.pid
*.tar

